<li class="list-group-item">
<%= image_tag(user.avatar.url, alt: 'Image',
    style: 'width:50px; height:50px;border-radius:5px') if user.avatar? %>
<%= link_to "#{user.first_name} #{user.last_name} (#{user.user_type})", user_show_path(user) %>
<% if controller_name == 'users' && controller.action_name == 'control_all'|| controller.action_name == 'control_undef_users' %>
  &nbsp;|
  <%= link_to "Edit", edit_user_path(user) %>
  <%= link_to "delete", destroy_user_path(user), class: "text-danger close", aria_label: "Close", method: :delete, data: { confirm: "You sure?" } %>
<% end %>
</li>
