<% if @users_new_count != 0 %>
  <p class="text-right">
    <%= link_to "New Users(#{@users_new_count})", users_control_undef_users_path, class: 'btn btn-danger' %>&nbsp;
  </p>
<% end %>

<h1>Control All</h1>

<ul class="list-group">
    <%= render @users %>
</ul>
