<table class="table table-bordered">
  <tr>
    <th scope="col">#</th>
      <th scope="col">Monday</th>
      <th scope="col">Tuesday</th>
      <th scope="col">Wednesday</th>
      <th scope="col">Thursday</th>
      <th scope="col">Friday</th>
  </tr>

  <% (1..7).each do |lesson_number| %>
    <tr>
      <th scope="row"><%= lesson_number %></th>

      <% (1..5).each do |day| %>
        <td>
          <%= lesson_from_schedule(@objects[day], lesson_number) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
