<h1>Edit a lesson!</h1>
<p class="text-left">
  <%= link_to '<- Back', :back %>
</p>
<div class="">
  <lists :form_id="<%= @lesson.form.id %>" :curr_subject_id="<%= @lesson.subject.id %>" :lesson_id="<%= @lesson.id %>"></lists>
</div>
